[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "qcr"]
	path = qcr
	url = https://github.com/mflores72000/qcr
	shallow = true
	registered = true
