[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ILS"]
	path = ILS
	url = https://github.com/mflores72000/ils
[submodule "qcr"]
	path = qcr
	url = https://github.com/mflores72000/qcr
